body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

.tab {
  overflow: hidden;
  background-color: #333;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
}

.tab button:hover,
.tab button.active {
  background-color: #555;
  transform: translateY(-2px);
}

.tabcontent {
  display: none;
  padding: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  border: 3px solid black;
  box-shadow: 0px 0px 2px 2px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 8px;
  font-size: 16px;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h3 {
  color: #333;
}

@media (max-width: 768px) {
  .tab button {
    padding: 12px 10px;
    font-size: 14px;
  }
}
